langchain==0.3.25
langchain-community==0.3.24
pypdf==5.5.0
langchain-text-splitters==0.3.8
sentence_transformers==4.1.0
langchain-chroma==0.2.4
langchain-huggingface==0.2.0
openai==1.82.0
streamlit==1.45.1
gdown==5.2.1